#dashboard {
  .statistics {
    padding: 30px;
    .statistic {
      padding: 10px;
      .card {
        padding: 20px 20px;
        .box {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-family: "Roboto Mono", monospace;
          font-size: 30px;
          font-weight: 700;
          p {
            margin: 0;
            color: #00a8ff;
          }
          i {
            font-size: 40px;
            color: #7f8fa6;
          }
        }
        .name-card {
          white-space: nowrap;
          font-size: 18px;
          color: #7f8fa6;
        }
      }
    }
  }
}
