#dashboard {
  .statistics {
    padding: 30px;
    .statistic {
      .card {
        padding: 30px;
        .box {
          font-family: "Poppins", sans-serif;
          font-size: 30px;
          font-weight: 500;
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            margin: 0;
          }
          i {
          }
        }
        .name-card {
        }
      }
    }
  }
}
