#dashboard {
  .wrapper-statistics {
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;

    display: flex;
    flex-direction: column;

    .statistics {
      padding: 20px 30px;
      .statistic {
        padding: 10px;
        .card {
          border: none;
          box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
          padding: 40px 30px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: start;
          .box {
            font-family: "Roboto Mono", monospace;
            p {
              font-weight: bolder;
              font-size: 35px;
              margin: 0;
              color: #00a8ff;
            }

            .name-card {
              white-space: nowrap;
              font-size: 25px;
              font-weight: 500;
              color: #7f8fa6;
            }
          }
          .card-icon {
            margin-top: 10px;
            i {
              font-size: 50px;
              color: #7f8fa6;
            }
          }
        }
      }
    }
    .dashboard-body {
      background-color: #fff;
      padding: 20px;
      flex: 1;
      height: 100%;
      .best-selling {
        min-height: 500px;
        padding: 20px;
        .best-selling-tiems {
          height: 100%;
          width: 100%;
          border-radius: 10px;
          box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
          padding: 20px;
          .selling {
            width: 100%;
              width: 100%;
              thead {
                height: 50px;
                border-bottom: 2px solid #e5e5e5;
                tr {
                  th {
                    font-weight: 500;
                    white-space: nowrap;
                    &:first-child {
                      padding: 10px 20px;
                    }
                  }
                }
              }
              tbody {
                tr {
                  border-bottom: 2px solid #e5e5e5;
                  th {
                    font-weight: 500;
                    white-space: nowrap;

                    &:first-child {
                      padding: 10px 20px;
                    }
                    &:last-child {
                      padding: 10px 20px 10px 0;
                    }
                    .img {
                      width: 100px;

                      img {
                        width: 70px;
                      }
                    }
                    .product-action {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      position: relative;

                      button {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        color: #f5f5f5;
                        transition: 0.2s;
                        &:hover {
                          background-color: #ba933e;
                        }
                        i {
                          line-height: 30px;
                        }
                      }
                      .delete {
                        background-color: #1a1a1a;
                      }
                      .model-detele {
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.2s ease;
                        position: absolute;
                        display: flex;
                        align-items: center;
                        top: 120%;
                        right: 0;
                        background-color: #fefefe;
                        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                        padding: 5px 0 5px 5px;
                        border-radius: 3px;
                        &.active {
                          opacity: 1;
                          visibility: visible;
                        }
                        p {
                          margin: 0;
                        }
                        .btn-sure {
                          padding: 3px;
                          margin: 0 5px;
                          color: #fff;
                          width: 40px;
                          cursor: pointer;
                          text-align: center;
                          border-radius: 3px;
                        }
                        #yes {
                          background-color: #00a8ff;
                        }
                        #no {
                          background-color: #2ecc71;
                        }
                      }
                      .edit {
                        background-color: #0097e6;
                        margin-left: 30px;
                        &:hover {
                          background-color: #00a8ff;
                        }
                      }
                    }
                  }
                  .action-product {
                    width: 100px;
                  }
                }
s            }
          }
        }
      }
      .bar-chart {
        padding: 20px;
        .my-chart {
          border-radius: 10px;
          box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
          padding: 20px;
          min-height: 500px;
        }
      }
    }
  }
}
