.wrapper-admin-products {
  .product-header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .search-product {
      display: flex;

      input {
      }
      .btn-search-product {
      }
    }
  }
}
