#dashboard {
  height: 100vh;
  .wrapper-statistics {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: auto !important;
    overflow-x: hidden;

    .statistics {
      padding: 20px 30px;
      .statistic {
        padding: 10px;
        .card {
          border: none;
          box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
          padding: 40px 30px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: start;
          .box {
            font-family: "Roboto Mono", monospace;
            p {
              font-weight: bolder;
              font-size: 35px;
              margin: 0;
              color: #00a8ff;
            }

            .name-card {
              white-space: nowrap;
              font-size: 25px;
              font-weight: 500;
              color: #7f8fa6;
            }
          }
          .card-icon {
            margin-top: 10px;
            i {
              font-size: 50px;
              color: #7f8fa6;
            }
          }
        }
      }
    }
    .dashboard-body {
      background-color: #fff;
      flex: 1;
      .best-selling {
        height: 50%;
        background-color: #00a8ff;
      }
      .bar-chart {
        padding: 30px;
        .my-chart {
          min-height: 300px;
        }
      }
    }
  }
}
