#dashboard {
  .statistics {
    padding: 30px;
    .statistic {
      .card {
        padding: 30px;
        .box {
          font-family: "Roboto Mono", monospace;
          font-size: 30px;
          font-weight: 700;
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            margin: 0;
            color: #00a8ff;
          }
          i {
            font-size: 35px;
          }
        }
        .name-card {
        }
      }
    }
  }
}
