.wrapper-admin-products {
  padding: 30px;
  display: flex;
  height: 100vh;

  flex-direction: column;
  justify-content: flex-end;
  .product-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    .search-product {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 400px;
      width: 100%;

      input {
        flex: 1;
        border-radius: 3px;
        border: 1px solid #666;
        height: 45px;
        padding: 5px 10px;
        font-size: 16px;

        &:focus {
          &::placeholder {
            opacity: 0;
          }
        }

        &::placeholder {
          color: #666;
          transition: 0.2s;
        }
      }
      .btn-search-product {
        margin-left: 10px;
        width: 65px;
        background-color: #3498db;
        height: 45px;
        border-radius: 3px;
        i {
          color: #fff;
        }
      }
    }

    .btn-add-product {
      height: 45px;
      background-color: #3498db;
      padding: 010px;
      color: #fff;
      font-size: 16px;
      border-radius: 3px;
    }
  }
  .product-body {
    background-color: #fefefe;
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
}
