@import "./alert";
@import "./media";

.wrapper-admin-customers {
  padding: 30px;
  display: flex;
  height: 100vh;

  flex-direction: column;
  justify-content: flex-end;
  .user-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;

    .search-users {
      display: flex;
      align-items: center;
      justify-content: center;

      max-width: 400px;
      width: 100%;
      margin-bottom: 20px;
      input {
        flex: 1;
        border-radius: 3px;
        border: 1px solid #666;
        height: 45px;
        padding: 5px 10px;
        font-size: 16px;

        &:focus {
          &::placeholder {
            opacity: 0;
          }
        }

        &::placeholder {
          color: #666;
          transition: 0.2s;
        }
      }
      .btn-search-user {
        margin-left: 10px;
        width: 65px;
        background-color: #0097e6;
        height: 45px;
        border-radius: 3px;
        i {
          color: #fff;
        }
        transition: 0.3s;
        &:hover {
          background-color: #00a8ff;
        }
      }
    }
  }
  h3 {
    margin: 10px 0;
    color: #e55039;
    font-size: 24px;
    font-weight: 700;
  }
  .user-body {
    background-color: #fefefe;
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
    border-radius: 4px;
    overflow: auto;

    &::-webkit-scrollbar-thumb {
      background: #666;
      border-radius: 5px;
    }
    &::-webkit-scrollbar {
      width: 5px;
    }

    .wrapper-user {
      width: 100%;
      background-color: #fafafa;
      padding: 20px;
      border-radius: 5px;
      table {
        width: 100%;
        thead {
          height: 50px;
          border-bottom: 2px solid #e5e5e5;
          tr {
            th {
              font-weight: 500;
              white-space: nowrap;
              &:first-child {
                padding: 10px 20px;
              }
            }
          }
        }
        tbody {
          tr {
            border-bottom: 2px solid #e5e5e5;
            th {
              font-weight: 500;
              white-space: nowrap;
            }
          }
        }
      }
    }
    .btn-user-load-more {
      display: block;
      padding: 10px 15px;
      background-color: #0097e6;
      margin: 20px auto 10px;
      font-size: 16px;
      font-weight: 500;
      border-radius: 3px;
      color: #fff;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: #00a8ff;
      }
    }
  }
}
