.cart-main {
  .container {
    position: relative;
    .wrapper-carts {
    }
    .wrapper-payment {
      position: fixed;
      padding: 20px;
      background-color: aqua;
      width: 1200px;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      .coupon {
        input {
        }
        button {
        }
      }
    }
  }
}
