.cart-main {
  .container {
    position: relative;
    .wrapper-carts {
    }
    .wrapper-payment {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      .payment-main {
        box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
        padding: 40px 50px;
        max-width: 1200px;
        background-color: #fefefe;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .detele-all {
          font-size: 18px;
          font-weight: 500;
          padding: 5px 10px;
          border-radius: 5px;
          background-color: #1a1a1a;
          color: #fff;
        }
        .coupon {
          height: 100%;
          input {
          }
          button {
            height: 100%;
            font-size: 18px;
            font-weight: 500;
            padding: 5px 10px;
            border-radius: 5px;
            background-color: #1a1a1a;
            color: #fff;
          }
        }
      }
    }
  }
}
