.cart-main {
  .container {
    position: relative;
    .wrapper-carts {
    }
    .wrapper-payment {
      position: fixed;
      padding: 20px;
      max-width: 1200px;
      width: 100%;
      bottom: 0;
      margin: 0 auto;
      .coupon {
        input {
        }
        button {
        }
      }
    }
  }
}
