#password {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.wrapper-profile {
  max-width: 700px;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
  .profile {
    display: flex;
    align-items: center;
    .avatar {
      width: 150px;
      height: 150px;
      text-align: center;
      i {
        line-height: 150px;
        color: #7f8fa6;
        font-size: 70px;
      }
    }
    .user-info {
      flex: 1;
      .info {
        display: flex;
        align-items: center;
        p {
          margin: 0;
          width: 100px;
          font-weight: 500;
          text-align: end;
          color: #7f8fa6;
        }
        .data {
          font-weight: 500;
          color: #e84118;
          font-weight: 500;
          margin-left: 20px;
        }
      }
    }
  }
}
