.spinner {
  position: fixed;
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  li {
    margin: 0 5px;
  }
  &.hide-spinner {
    opacity: 0;
    visibility: hidden;
  }
  &.show-spinner {
    opacity: 1;
    visibility: visible;
  }
}
