@import "./media";

section {
  .container {
    h2 {
      margin: 40px 0 60px;
      font-weight: 700;
      color: #ff6348;
    }
    .wrapper-products {
      min-height: 300px;
      margin-bottom: 40px;
      .item {
        position: relative;
        &:hover {
          .pd-img {
            opacity: 0;
          }
          .add-cart {
            opacity: 0.8;
            visibility: visible;
            bottom: 15px;
          }
          .product-action {
            opacity: 1;
            visibility: visible;
            right: 10px;
          }
        }
        a {
          position: relative;
          display: inline-block;
          width: 100%;
          min-height: 282px;

          img {
            position: relative;
            width: 100%;
            object-fit: cover;
            z-index: 1;
            transition: 0.3s;
          }
          .pd-bg-img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
          }
        }
        .product-action {
          position: absolute;
          top: 10px;
          right: 0;
          opacity: 0;
          visibility: hidden;
          transition: 0.3s;
          z-index: 3;
          display: flex;
          align-items: end;
          flex-direction: column;
          .content {
            font-size: 14px;
            background-color: #ff6348;
            color: #fff;
            min-width: 40px;
            padding: 0 3px;
            text-align: center;
            border-radius: 3px;
          }
          .detail {
            margin-top: 10px;
            width: 40px;
            height: 40px;
            transition: 0.3s;
            background-color: #dfe4ea;
            font-size: 20px;
            text-align: center;
            border-radius: 3px;
            opacity: 0.8;
            cursor: pointer;
            i {
              line-height: 40px;
            }
            &:hover {
              background-color: #eccc68;
              opacity: 1;
              i {
                color: #fff;
              }
            }
          }
        }
        .add-cart {
          position: absolute;
          opacity: 0;
          visibility: hidden;
          transition: 0.3s;
          width: 80%;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          background-color: #333;
          padding: 5px 8px;
          border-radius: 4px;
          color: #fff;
          z-index: 3;
          transition: 0.3s;
          &:hover {
            opacity: 1;
            background-color: #eccc68;
            color: #fff;
          }
        }
        @include xsToMd {
          .pd-img {
            opacity: 0;
          }
          .product-action {
            opacity: 1;
            visibility: visible;
            right: 10px;
          }
          .add-cart {
            position: unset;
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
            width: 100%;
          }
        }
      }
      .product-name {
        font-size: 14px;
        font-weight: 500;
        margin: 5px 0;
      }
      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0px;
      }

      .wrapper-rating {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .stars {
          padding: 0;
          margin: 0;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          li {
            i {
              color: #666;
            }
          }
          .active {
            i {
              color: #eccc68;
            }
          }
        }
        .like {
          margin-right: 30px;
          i {
            font-size: 24px;
            color: #666;
          }
          transition: 0.2s;
          &:hover {
            i {
              color: #3498db;
            }
          }
          .active {
            color: #3498db;
          }
        }
      }
    }
  }
}
