.checkout {
  .container {
    .title-checkout {
      margin: 10px 0;
      font-size: 32px;
      color: #666;
      font-weight: 500;
    }
    .wrapper-checkout {
      width: 100%;
      background-color: #fafafa;
      padding: 20px;
      margin: 10px 0;
      border-radius: 5px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      .checkout-item {
        .date-create {
          font-size: 18px;
          font-weight: 500;
          color: #222;
          border-bottom: 2px solid #e5e5e5;
        }
        .checkout-detail {
          .products {
            max-height: 260px;
            overflow-y: auto;
            &::-webkit-scrollbar-thumb {
              background: #666;
              border-radius: 5px;
            }
            &::-webkit-scrollbar {
              width: 5px;
            }
            .item {
              margin: 0;
              padding: 20px;
              display: flex;
              img {
                width: 90px;
                height: 90px;
              }
              .product-content {
                margin-left: 20px;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                .name-product {
                  font-size: 20px;
                  font-weight: 500;
                  color: #666;
                }
                .product-type {
                  display: inline-block;

                  margin-top: 5px;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  .quantity {
                    margin-right: 10px;
                    font-size: 18px;
                    font-weight: 500;
                    color: #666;
                  }
                  .price {
                    font-size: 16px;
                    font-weight: 500;
                  }
                }
              }
            }
          }
          .bill {
            .checkout-info {
              .address {
                padding: 20px;
                width: 100%;
                .delivery-address {
                  font-size: 16px;
                  margin-bottom: 20px;
                }
                .user-name {
                  font-size: 20px;
                  color: $colorLetter;
                }
                .live {
                  margin: 10px 0;
                  font-size: 18px;
                  color: $colorLetter;
                }
                .subtotal {
                  border-top: rgba($color: #666, $alpha: 0.5) 1px solid;
                  padding: 20px 0 0 0;
                }
              }
            }
          }
        }
      }

      .wrapper-bill-empty {
        margin-top: 20px;
        padding: 30px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .bill-empty {
          display: block;
          width: 50%;
          margin: 30px 0 20px;
        }
        h2 {
          display: block;
          color: #666;
        }
      }
    }
  }
}
