.wrapper-statistic {
  .container {
    .statistic {
      min-height: 50vh;
      .statistic-item {
        padding: 30px;
        .item {
          height: 150px;
          padding: 30px;
          border-radius: 10px;
          margin: 0;
          color: #fff;
          font-weight: 500;
          font-size: 24px;
          .item-name {
            font-size: 16px;
          }
        }
      }
      .products {
        .item {
          background-image: linear-gradient(
            to right top,
            #feca57,
            #f9b747,
            #f3a539,
            #ed922c,
            #e67e22
          );
        }
      }
      .revenue {
        .item {
          background-image: linear-gradient(
            to right top,
            #ff9ff3,
            #e68de4,
            #cd7bd4,
            #b46ac5,
            #9b59b6
          );
        }
      }
      .users {
        .item {
          background-image: linear-gradient(
            to right top,
            #48dbfb,
            #18c7f8,
            #00b2f3,
            #009dea,
            #2e86de
          );
        }
      }
      .websiteTraffic {
        .item {
          background-image: linear-gradient(
            to right top,
            #55efc4,
            #46dfab,
            #3ace92,
            #2fbe79,
            #27ae60
          );
        }
      }
      .orders {
        .item {
          background-image: linear-gradient(
            to right top,
            #fab1a0,
            #f39581,
            #eb7765,
            #e1574a,
            #d63031
          );
        }
      }
    }
  }
}
