.spinner {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  li {
    margin: 0 5px;
    .spinner-grow {
      background-color: #3498db;
    }
  }
  &.hide-spinner {
    opacity: 0;
    visibility: hidden;
  }
  &.show-spinner {
    opacity: 1;
    visibility: visible;
  }
}
